footer{
    border-top: 1px solid var(--main-color);
}
.containeer{
    width: 95%;
    margin: auto;
}
.line {
    margin: 15px 0;
    border-top: 1px solid var(--main-color);
}
.imgs img{
    width: 10%;
    padding: 0px 10px;
}
.dwon .f-hight{
    width: 21%;
    height: 55px;
    cursor: pointer;
}
.dwon img{
    cursor: pointer;
    width: 21%;
    padding-left: 15px;
}
.button{
    background-color:#222124;
    color:#fff;
    transition: all 0.5s;
}
.button:hover{
    color:#222124;
    background-color:#fff;
}
.font{
    font-size: 0.7rem;
}
.font-15{
    font-style: 1rem;
}
