<footer class="bg py-3 ">
    <div class="containeer">
       <div>
           <h4 class="font-15">Get the freash cart app</h4>
           <p class="font">We will send you a link, open it on your phone to download the app</p>
       </div>
       <div>
           <div class="row">
            
              <div class="col-12 col-md-10">
                 <input type="email" class="w-100 py-2 ps-3" placeholder="Your Email....">
              </div>
              <div class="col-12 col-md-2">
                 <button class="button w-100 py-2">Add Your Link</button>
              </div>
           </div>
       </div>
       <div class="line">
          
       </div>
       <div class="row d-flex justify-content-between align-items-center">
           <div class=" col-12 col-md-6 imgs d-flex align-items-center">
               <h5 class="font-15">payment pattern</h5>
               <img src="./assets/image/amazon.png" alt="">
               <img src="./assets/image/paypal.png" alt="">
               <img src="./assets/image/mastercard.png" alt="">
           </div>
   
       
           <div class="line">
               
           </div>
       </div>
    </div>
   </footer>
   