<div class="my-5">
    <h1 class="text-center font-15 fw-bold">Brands</h1>
</div>

<section class="my-5 ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header-img d-flex justify-content-between align-items-center text-center">
                    <div>
                        <div class="sale" >
                      
                            <h3 class="m-0 font-15">Sale</h3>
                    </div>
                    <h4 class="font mt-2">sale</h4>
                    </div>
                    <div class="" >
                        <img src="./assets/image/brand 8.jpg" width="100px" height="100px" class="rounded-circle" alt="">
                        <h4 class="font mt-2">New in-brands
                        </h4>
                    </div>
                    <div class="" >
                        <img src="./assets/image/brand 4.png" width="100px" height="100px" class="rounded-circle" alt="">
                        <h4 class="font mt-2">Fantasie</h4>
                    </div>
                    <div class="" >
                        <img src="./assets/image/brand 6.jpg" width="100px" height="100px" class="rounded-circle" alt="">
                        <h4 class="font mt-2">Radley</h4>
                    </div>
                    <div class="" >
                        <img src="./assets/image/brand 5.jpg" width="100px" height="100px" class="rounded-circle" alt="">
                        <h4 class="font mt-2">Radley</h4>
                    </div>
                    <div class="" >
                        <img src="./assets/image/brand 3.jpg" width="100px" height="100px" class="rounded-circle" alt="">
                        <h4 class="font mt-2">Nobody’s Child</h4>
                    </div>
                    <div class="" >
                        <img src="./assets/image/brand 7.jpg" width="100px" height="100px" class="rounded-circle" alt="">
                        <h4 class="font mt-2">FatFace</h4>
                    </div>
                    <div class="" >
                        <img src="./assets/image/brand 2.png" width="100px" height="100px" class="rounded-circle" alt="">
                        <h4 class="font mt-2">White Stuff</h4>
                    </div>
                    <div class="" >
                        <img src="./assets/image/brand 1.jpg" width="100px" height="100px" class="rounded-circle" alt="">
                        <h4 class="font mt-2">Seasalt Cornwall</h4>
                    </div>
                    <div class="" >
                        <img src="./assets/image/brand 9.jpg" width="100px" height="100px" class="rounded-circle" alt="">
                        <h4 class="font mt-2">The Sports Edit</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="my-5 ">
    <div class="the-sale">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="./assets/image/sale.jfif" width="250px" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <h3 class="font-15">ONLINE& IN STORE NOW</h3>
                    <h2 class="font-15 fw-bold">ENJOURE UP TO 50% OFF</h2>
                    <h3 class="font-15">SHOP BRANDS SALE --> </h3>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="my-5 more">
    
        <div class="row g-0">
            <div class=" col-12 col-md-6">
                <img src="./assets/image/pic 4.jpg" width="100%" height="700px" alt="">
            </div>
            <div class="col-md-6">
                <div class="row g-0">
                    <div class="col-6">
                       <img src="./assets/image/pic 3.jpg" width="100%"  height="300px" alt="">
                    </div>
                    <div class="col-6">
                        <img src="./assets/image/pic 2.jpg" width="100%" height="300px" alt="">
                    </div>
                    <div class="col-md-12">
                        <img src="./assets/image/pic 1.jpg" width="100%" height="400px" alt="">
                    </div>
                </div>
            </div>
        </div>
    
</section>

<section class="adidas my-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-7">
                <div>
                    <img src="./assets/image/7138ad11807955bd0ee2f4c5fc457cb6.jpg" class="w-100" alt="">
                </div>
            </div>
            <div class="col-md-5">
                 <div class="">
                    <h1 class=" font-15">
                        Just in: Adidas
                    </h1>
                    <p class="font">
                        The globally renowned Adidas brand, cherished for its innovative designs, iconic sportswear, and unparalleled quality, has now landed                    </p>
                    <span>shop adidas <i class="fa-solid fa-arrow-right font"></i></span>
                 </div>
            </div>
        </div>
    </div>
</section>


<section class="my-5 ">
    <div>
       <div class="container">
        <h2 class="font-15 fw-bold text-center my-4" >
            Don’t Miss Out 
        </h2>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img src="./assets/image/don 1.jpg" class="w-100" height="450px" alt="">
                </div>
                <div class="mt-2">
                    <h3 class="font">
                        Puma Shoes
                    </h3>
                    <span class="font-15 fw-bold">Shop Puma <i class="fa-solid fa-arrow-right font"></i></span>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <img src="./assets/image/don 2.jpg" class="w-100" height="450px" alt="">
                </div>
                <div class="mt-2">
                    <h3 class="font">
                       Nike Shoes
                    </h3>
                    <span class="font-15 fw-bold">Shop Nike <i class="fa-solid fa-arrow-right font"></i></span>
                </div>
            </div>
        </div>
       </div>
        
    </div>
</section>

<section>
    <div class="container">
        <h2 class="font-15  text-center pb-3">
            LET’S GO OUTSIDE
        </h2>

        <div class="row">
            <div class="col-md-4">

                <img src="./assets/image/out side 1.jfif" width="100%" alt="">
                 <div>
                    <h3 class="font mt-2">
                        Brave the Outdoors
                    </h3>
                    <span>
                          Shop Hunter <i class="fa-solid fa-arrow-right font"></i>
                    </span>

                 </div>
            </div>
            <div class="col-md-4">

                <img src="./assets/image/out side 2.jfif" width="100%" alt="">
                 <div>
                    <h3 class="font mt-2">
                       Function-first Footwear
                    </h3>
                    <span>
                          Shop sorel <i class="fa-solid fa-arrow-right font"></i>
                    </span>
                 </div>
            </div>
            <div class="col-md-4">

                <img src="./assets/image/out side 3.jfif" width="100%" alt="">    
                 <div>
                    <h3 class="font mt-2">
                        Protect From the Elements
                    </h3>
                    <span>
                          Shop Regatta <i class="fa-solid fa-arrow-right font"></i>
                    </span>
                 </div>
            </div>
        </div>
    </div>
</section>


<section class="my-5 ">

    <h2 class="font-15 fw-bold text-center mb-4">
        SHOP BY BRAND
    </h2>

    <div class="container">
        <owl-carousel-o [options]="brandSlider">
          <ng-container *ngFor="let brand of brands.slice(17,30)">
            <ng-template carouselSlide>
           <div class="pic" [routerLink]="['/brandDetails',brand._id]">
            <img [src]="brand.image" width="100%" height="100px" alt="Brand Image">
           </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>


      
      
</section>
