<section class="my-5 mx-3">
    
       <div class="container">
        <div class="row ">
            <div class="col-md-6">
              <div class="pic ">
                <img [src]="details.imageCover"  alt="" class="w-100">
              </div>
            </div>
           
            <div class="col-md-6">
           <div class="d-flex flex-column justify-content-between">
            <div class="details d-flex justify-content-between align-items-center">
                <h3 class="font-15">{{details.title | cutText:3}}</h3>
                <img src="./assets/image/heart.png" width="25px" alt="" (click)="addToWishList(details._id)" *ngIf="!wishlist.includes($any(details._id))">
                <img src="./assets/image/love.png" width="25px" alt="" (click)="deleteItem(details._id)"  *ngIf="wishlist.includes($any(details._id))">
             </div>
             <div class="description mt-3">
                <p class="font">{{details.description}}</p>
             </div>
             <div class="price d-flex flex-column my-4">
               <h3 class="font-15">{{details.price}} <span>EGP</span></h3>
               <h3 class="font" *ngIf="details.price>300">30% Discount
                   <span class="mt-1 ps-2 font-15" [class.discount]="details.price>300">{{details.price | discount:30 | number:'1.0-0'}}
                       <span>EGP</span>
                   </span>
               </h3>
             </div>
             <div class="product-id my-3">
                <h3 class="font-15">Brand : <span class="font">{{details.brand.name}}</span></h3>
                
             </div>
             <div class="rate">
                <h3 class="font">Rate</h3>
                <div class="product-ratting">
                    <i [class.rating-color]="details.ratingsAverage>=star" *ngFor="let star of [1,2,3,4,5]" class="fa-solid fa-star font-15"></i><span class="ps-2">({{details.ratingsAverage}})</span>
                </div>
             </div>
             <div class="add-to-cart">
                <button class="btn-main w-100 button--big mt-4 font" (click)="addToCart(details._id)">Add To Cart</button>
             </div>
           </div>
            </div>
        </div>
       </div>

       <div class="layer" *ngIf="showToaster" >
        <div class="toster">
            <p class="font"> <span class="pe-2"><img src="./assets/image/tick.png" width="20px" alt=""></span> {{success}}</p>
            <div>
               <button class="btn-main font w-100" routerLink="/cart"> Go to cart </button>
            </div>
         
        </div>
    </div>
    
</section>
