<nav class="navbar align-items-center ">
   <div class="container-fluid">

    <div class="one">
        <a class="text-center">FreshCart</a>

    </div>
    <div class="four">
        <div class="d-flex justify-content-end">
            <div class=" user d-flex align-items-center cursour-pointer pe-4 ">
                <img src="./assets/image/account.png" alt="" width="20px" class="position-relative">
                <span class="ps-3 text-maiin font">User</span>
                <div class="dropmenu">
                    <button class=" btn-main w-100 mx-auto " routerLink="/login"> signIn </button>
                    <ul class="dropmenu-list">
                        <li class=" dropmenu-list-item font"> 
                            Not a Member? 
                            <a class="dropmenu-list font-15 " routerLink="/register">Register</a> 
                        </li>

                    </ul>
                </div>
            </div>
            <div class=" d-flex align-items-center cursour-pointer pe-4">
                <img src="./assets/image/heart.png" alt="" width="20px">
                <span class="ps-3 text-maiin font">Favorite </span>
            </div>
            <div class="d-flex align-items-center cursour-pointer pe-4">
                <img src="./assets/image/shopping-bag.png" alt="" width="25px">
                <span class="ps-3 text-maiin font"> baseket</span>
            </div>
        </div>
    </div>

   </div>
</nav>